﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release date: @Model.ReleaseDate.ToLongDateString()</li>
    <li>Date added: @Model.DateAdded.ToLongDateString()</li>
    <li>In Stock: @Model.InStock</li>
</ul>

